<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

<p id="notice"><%= notice %></p>


<table>

<h2>Importar Datos</h2>
<%= form_tag import_track_points_path, multipart: true do%>
  <%= file_field_tag :file %>
  <%= submit_tag "Subir Archivo" %>
  <% end %>


<!-- <%= link_to 'Nuevo Punto', new_track_point_path %> 
<%= link_to 'Lista', tracks_path %>
