<title>Mis Recorridos </title>
<meta charset=utf-8 />

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />



<table class="table table-condensed">
  <thead>
    <tr>
      <th>Recorrido </th>
      <th>Fecha</th>
      <th>Distancia</th>
      <th>Tiempo</th>
      <th>Velocidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>  

    <% @tracks.accessible_by(current_ability).each do |track| %>

      <tr>
        <td><%= track.name if track.name%></td>
        <td><%= track.fecha if track.fecha%></td>
        <td><%= track.distancia if track.distancia%> km</td>
        <td><%= track.tiempo if track.tiempo%> seg</td> 
        <td><%= track.velocidad if track.velocidad%> km/hr</td>
        <td><%= link_to image_tag("ver.png",    :alt => "rss feed", size: "25") , track_path(track) %></td>
        <td><%= link_to image_tag("upload.png", :alt => "rss feed", size: "25") , track_points_path(track) %><td>
        <td><%= link_to image_tag("editar.png", size: "25"), "#myModal#{track.id}", :data => { :toggle =>"modal" } %></td> 
        <td><%= link_to image_tag("Basura.png", :alt => "rss feed", size: "25") , track, method: :delete, data: { confirm: '¿Estás Seguro?' }%></td>     
        </tr>



<!-- Modal 1: Editar Propiedades -->
<div class="modal fade" id="myModal<%= track.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Propiedades: <%= track.name %></h4>
      </div>
      <div class="modal-body">
      <%= form_for(track) do |f| %>
        <div class="field">
          <%= f.label :nombre %><br>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :fecha %><br>
          <%= f.date_select :fecha %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>





    <% end %>
  </tbody>
</table>


<!-- Modificacion de Estilos -->

<style>

.table{
  text-align: left;
  width: 65%;
}

.btn{
    font-size: 75%;
    width: 100%;
}

</style>
