<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />



<table class="table table-condensed">
  <thead>
    <tr>
      <th>Recorrido</th>
      <th>Fecha</th>
      <th>Distancia</th>
      <th>Tiempo</th>
      <th>Velocidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @tracks.accessible_by(current_ability).each do |track| %>
      <tr>
        <td><%= track.name %></td>
        <td><%= track.fecha%></td>
        <td><%= track.distancia %> km</td>
        <td><%= track.tiempo %> s</td>
        <td><%= track.velocidad %> km/hr</td>
        <td><%= link_to image_tag("ver.png",    :alt => "rss feed", size: "25") , track_path(track) %></td>
        <td><%= link_to image_tag("upload.png", :alt => "rss feed", size: "25") , track_points_path(track) %><td>
        <td><%= link_to image_tag("editar.png", :alt => "rss feed", size: "25") ,  edit_track_path(track) %></td> 
        <td><%= link_to image_tag("Basura.png", :alt => "rss feed", size: "25") , track, method: :delete, data: { confirm: '¿Estás Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<style>

.table{
  text-align: left;
  width: 65%;
}

.btn{
    font-size: 75%;
    width: 100%;
}

</style>
