<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

<p id="notice"><%= notice %></p>

<h1>Mis Recorridos</h1>

<table>
  <thead>
    <tr>
      <th>Recorrido</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @tracks.accessible_by(current_ability).each do |track| %>
      <tr>
        <td><%= track.name %></td>
        <td><%= track.fecha %></td>
        <td><%= link_to 'Ver', track_path(track) %></td>
        <td><%= link_to 'Subir', track_points_path(track) %><td>
        <td><%= link_to 'Editar',  edit_track_path(track) %></td> 
        <td><%= link_to 'Borrar', track, method: :delete, data: { confirm: 'Estás Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>



<%= link_to 'Agregar Recorrido', new_track_path %>
