<title><%= @track.name %> - <%= @track.fecha %></title>

<p id="notice"><%= notice %></p>


<p>

<br></br>
<br></br>

<div class="panel panel-success">
  <div class="panel-heading" ><strong><%= @track.name %></strong>
    <button class="btn1" type="button"><%= link_to 'Editar', edit_track_path(@track) %></button>
    <button class="btn2" type="button"><%= link_to 'Subir', track_points_path(@track) %> </button>
  </div>
    <div class="panel-body">

<table class="table">
    <thead>
    <tr>
      <th>Distancia</th>
      <th>Tiempo</th>
      <th>Velocidad</th>
      <th>Fecha </th>
      <th>Ambiente</th>
    </tr>
     </thead>
    <tbody>
    <tr>
      <th><div id='distancia'></div></th>
      <th><div id='tiempo'></div></th>
      <th><div id='velocidad'></div></th>
      <th><%= @track.fecha %></th>
      <th><div id='aporte'></div></th>
    </tr>
    </tbody>
  </table>
  </div>
</div>




<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>


<style>

.table{
  text-align: center;
}

.btn1{
    position:absolute;
    font-size: 100%;
    width: 10%;
    margin-left:400px;
}

.btn2{
    position:absolute;
    font-size: 100%;
    width: 10%;
    margin-left:480px;
}


.panel-body {
  font:bold 12px/20px 'Helvetica', sans-serif;
  text-align: justify;
  background:#ffffff;
  color:#000;
}

.panel {
  margin-left:100px;
  position: relative;
  left: 30px;
  //padding-left: 60px;
  width: 43%;
  //@include gradient-horizontal(#1834cc, #1dc937, 0%, 100%);
}

</style>

<br></br>

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.4/Leaflet.fullscreen.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.4/leaflet.fullscreen.css' rel='stylesheet' />
<div id='map' class=dark></div>
<script>

var polyline_options = {  // caracteristicas de la polylinea dibujada
    color: '#ff0000'
};

</script>




<!--  <%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %> -->
