<title><%= @track.name %> - <%= @track.fecha %></title>
<meta charset=utf-8 />
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div class = "card1">
  <div id="container" class="grafico" ></div>
</div>

<p>
<br></br>
<br></br>

<div class="panel panel-default">
  
  <div class="panel-heading" >
      <strong><%= @track.name %></strong>
      <div class="botones">
        <div align="right">
        <%= link_to image_tag("upload.png", :alt => "rss feed", size: "20") , track_points_path(@track) %>
        <%= link_to image_tag("editar.png", size: "20"), "#myModal", :data => { :toggle =>"modal" } %>
        </div>
      </div>
  </div>

    <div class="panel-body">

<table class="table">
    <thead>
    <tr>
      <th><center>Distancia</center></th>
      <th><center>Tiempo</center></th>
      <th><center>Velocidad</center></th>
      <th><center>Fecha</center></th>
      <th><center>Ambiente</center></th>
    </tr>
     </thead>
    <tbody>
    <tr>
      <th><center><div id='distancia'></div></center></th>
      <th><center><div id='tiempo'></div></center></th>
      <th><center><div id='velocidad'></div></center></th>
      <th><center><%= @track.fecha %></center></th>
      <th><center><div id='aporte'></div></center></th>
    </tr>
    </tbody>
  </table>
  </div>
</div>


<!-- Modal 1: Editar Propiedades -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Propiedades: <%= @track.name %></h4>
      </div>
      <div class="modal-body">
      <%= form_for(@track) do |f| %>
        <div class="field">
          <%= f.label :nombre %><br>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :fecha %><br>
          <%= f.date_select :fecha %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>



<style>

body { 
  margin:0; 
  padding:0;
  background: #95a5a6; 
}

.card1{
  position: absolute;
  left: 60px;
  top: 300px;
  width: 600px;
  height: 350px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0.3px 0.3px 0.3px 1px rgba(0,0,0,0.2);
  z-index: 1;
}

.grafico{
  position: absolute;
  top:  30px;
  left: 10px;
  width: 550px;
  height: 300px;
  z-index: 2;
}

#info{
  position:relative;
  margin-left: 3%;
  width: 600px;
  height:250px;
}

#map {
position:absolute;
top:125px;
left:720px;
height: 500px;
width: 600px;
}

.botones{
  margin-top: -4%;
}

.table{
  font: 'Lato';
  font-size: 100%;
}

.panel-body {
  font:bold 12px/20px 'Helvetica', sans-serif;
  text-align: justify;
  background:#ffffff;
  color:#000;
}

.panel {
  top: 100px;
  margin-left:2%;
  position: absolute;
  left: 30px;
  width: 600px;
  //@include gradient-horizontal(#1834cc, #1dc937, 0%, 100%);

}

</style>

<br></br>

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.4/Leaflet.fullscreen.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.4/leaflet.fullscreen.css' rel='stylesheet' />
<div id='map' class=dark></div>
<div id='info' class=dark></div>
<script>
    var polyline_options = {  // caracteristicas de la polylinea dibujada
       color: '#ff0000'
    };
</script>