<title><%= @track.name %> - <%= @track.fecha %></title>
<meta charset=utf-8 />


<p>

<br></br>
<br></br>

<div class="panel panel-default">
  
  <div class="panel-heading" >
      <strong><%= @track.name %></strong>
      <div class="botones">
        <div align="right">
        <%= link_to image_tag("editar.png", :alt => "rss feed", size: "20") ,  edit_track_path(@track) %>
        <%= link_to image_tag("upload.png", :alt => "rss feed", size: "20") , track_points_path(@track) %>
        </div>
      </div>
  </div>

    <div class="panel-body">

<table class="table">
    <thead>
    <tr>
      <th><center>Distancia</center></th>
      <th><center>Tiempo</center></th>
      <th><center>Velocidad</center></th>
      <th><center>Fecha</center></th>
      <th><center>Ambiente</center></th>
    </tr>
     </thead>
    <tbody>
    <tr>
      <th><center><div id='distancia'></div></center></th>
      <th><center><div id='tiempo'></div></center></th>
      <th><center><div id='velocidad'></div></center></th>
      <th><center><%= @track.fecha %></center></th>
      <th><center><div id='aporte'></div></center></th>
    </tr>
    </tbody>
  </table>
  </div>
</div>



<style>

body { 
  margin:0; 
  padding:0; 
}

#info{
  position:relative;
  margin-left: 3%;
  width: 630px;
  height:250px;
}

#map {
position:absolute;
top:90px;
left:720px;
height: 500px;
width: 600px;
}

.botones{
  margin-top: -4%;
}

.table{
  font: 'Lato';
  font-size: 100%;
}

.panel-body {
  font:bold 12px/20px 'Helvetica', sans-serif;
  text-align: justify;
  background:#ffffff;
  color:#000;
}

.panel {
  margin-left:2%;
  position: relative;
  left: 30px;
  width: 600px;
  //@include gradient-horizontal(#1834cc, #1dc937, 0%, 100%);

}

</style>

<br></br>

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.4/Leaflet.fullscreen.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.4/leaflet.fullscreen.css' rel='stylesheet' />
<div id='map' class=dark></div>
<div id='info' class=dark></div>
<script>
    var polyline_options = {  // caracteristicas de la polylinea dibujada
       color: '#ff0000'
    };
</script>