  <table class="table">
        <tr>
          <th> Email </th>
        <th><%= @user.email %></th>
    </tr>
  <%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>
      <div class="form-inputs">
        <tr>
          <th><%= f.label :nombre %> </th>
          <th><%= f.text_field :nombre %></th>
        </tr>
      </div>
      <div class="form-inputs">
        <tr>
          <th><%= f.label :apellido %> </th>
          <th><%= f.text_field :apellido %></th>
        </tr>
      </div>
      <div class="form-inputs">
        <tr>
          <th><%= f.label :nacimiento %> </th>
          <th><%= f.date_field :nacimiento %></th>
        </tr>
      </div>
        <div class="form-inputs">
        <tr>
          <th><%= f.label :Genero %> </th>
          <th><%= f.number_field :sexo %></th>
        </tr>
      </div>


      </table>

      <div class="form-actions">   
          <%= f.submit "Listo"%>
      </div>
     
    <% end %>


<style>

.form_actions{
left: 50%;
 margin-left: 20%; 
}

.table{
  width: 60%;
  font-size: 100%;
}


</style>